{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Css/basicstyle.css' %}">
<!-- CSS -->
{% endblock %}

{% block content %}
<marquee behavior="alternate" style="font-family: 'Monotype Corsiva'; font-size:35px; color:darkcyan; background-color:bisque; font-weight:bold;">
    Decision Tree Classfier
    </marquee>
<h2>Decision Tree Classfier </h2>
</div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    


    

    <div>
        <label for="" class="label_heading">Input Prediction column</label>
        <input type="text" placeholder="Enter the prediction column" name="predcol" class="inp_col">
    </div>

    <div>
        <label for="" class="label_heading">Input Number of columns</label>
        <input type="number" placeholder="Enter the prediction column" name="size1" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Test Size</label>
        <input type="number" placeholder="Enter the Test Size" value="0.4" name="ptestsize" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Random State</label>
        <input type="number" placeholder="Enter the Ramdom state" value="32" name="randomstate" class="inp_col">
    </div>
    <div>

        <label class="label_heading">splitter</label>
        <select multiple data-select name="loss" class="inp_col">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="best" class="inp_col">best</option>
            <option value="random" class="inp_1col">Random</option>
     

            <!-- </optgroup> -->

        </select>
    </div>
    <div>

        <label class="label_heading">criterion</label>


        <select multiple data-select name="criterion">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="gini">gini</option>
            <option value="entropy">entropy</option>
            <option value="log_loss”">log_loss”</option>
            <!-- <option value="poisson">poisson</option> -->

        </select>
    </div>
    <div>

        <label class="label_heading">max_features</label>


        <select multiple data-select name="max_features">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="auto">auto</option>
            <option value="sqrt">sqrt</option>
            <option value="log2">log2</option>

        </select>
    </div>
    <div>
        <label class="label_heading">Sampling</label>
        <select multiple data-select name="sampling">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="SMOTE">Smote</option>
            <option value="NearMiss">NearMiss</option>
            <option value="RandomOverSampler">RandomOverSampler</option>
            <option value="RandomUnderSampler">RandomUnderSampler</option>
    
        </select>
    </div>
    <!-- <div>
        <label class="label_heading">learning_rate: <span id="ranged">1</span></label>
        <input type="range" min="0" max="100" value="1" step="0.1" onchange="showValuedepth(this.value)" name="learingvalue">
    </div>
     <div>
        <label class="label_heading">n_estimators: <span id="nranged">3</span></label>
        <input type="range" min="1" max="100" value="3" onchange="showValuedepth(this.value)" name="nestimatorsvalue">
    </div>
    <div>
        <label class="label_heading"> nestimators : <span id="rangesp">100</span></label>
        <input type="range" min="90" max="500" value="4" step="50" onchange="showValuesplit(this.value)" name="nestimatorsvalue">
    </div> -->
        
    <div>
        <label class="label_heading">Min Max Split: <span id="rangen">3</span></label>
        <input type="range" min="2" max="100" value="3" onchange="showValuen(this.value)" name="minsamplevalue">
    </div>
    <div>
        <label class="label_heading">Min Depth: <span id="rangedepth">15</span></label>
        <input type="range" min="0" max="100" value="15" onchange="showValuedepth(this.value)" name="maxdepthvalue">
    </div>
    <div>
        <label for="formFileLg" class="form-label label_heading">Large file input example</label>
        <input class="form-control form-control inputfile " id="formFileLg" type="file" name="datafile" />
        <input type="submit" value="Submit" id="upload"  data-bs-toggle="modal" class="submit-btn"data-bs-target="#staticBackdrop">

    </div>
    <!-- <input type="submit" value="submit"> -->
</form>

 {% include 'includes/classification_result.html' %}

</body>
<!-- Conttent -->
{% endblock %}

{% block js %}
<script src="{% static 'js/random_forest_classification.js' %}" type="module"></script>
<script>
    function showValuedepth(newValue) {
        document.getElementById("ranged").innerHTML = newValue;
    }
    function showValuesplit(newValue) {
        document.getElementById("rangesp").innerHTML = newValue;
    }
    function showValuen(newValue) {
        document.getElementById("rangen").innerHTML = newValue;
    }
    function showValuedepth(newValue) {
        document.getElementById("rangedepth").innerHTML = newValue;
    }
    $(document).ready(function() {
                    $('upload').click(function() {
                        $('#staticBackdrop').modal('show');
                        // submit the form
                        $(this).closest('form').submit();
                    });
                });
</script>
<!-- java -->
{% endblock %}