{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<!-- CSS -->
<style>
    /* Creating Loader */
    [hidden] {
	display: none !important;
}


select,
.select,
input {
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.select {
	position: relative;
}

.select > input {
	width: 100%;
	box-sizing: border-box;
}

.select__dropdown {
	position: absolute;
	z-index: 1;
	list-style: none;
	margin: 0;
	padding: 1px;
	background: Field;
	color: FieldText;
	font-family: sans-serif;
	font-size: small;
	font: -moz-field;
	border: 1px solid ThreeDShadow;
	border-top: 0;
	left: 0;
	right: 0;
	max-height: 10em;
	overflow-y: auto;
}
.select__dropdown:empty {
	display: none;
}

.select__dropdown [role="option"],
.select__dropdown strong {
	padding: 0.2em 0.4em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}
.select__dropdown [role="option"].select--selected,
.select__dropdown [role="option"]:hover {
	background: rgba(128,128,128,.2);
	color: inherit;
}
.select__dropdown [role="option"].select--has-focus {
	background: Highlight;
	color: HighlightText;
}
.select__dropdown [role="option"][aria-disabled="true"] {
	background: transparent;
	color: GrayText;
}
.select__dropdown ul {
	margin: 0;
	padding: 0;
}
.select__dropdown ul [role="option"] {
	padding-left: 2em;
}

.select__values {
	display: inline;
	padding: 0;
	margin: 0;
}
.select__values li  {
	display: inline-block;
	margin: 0.1em 0.2em;
	margin-inline-start: 0;
	cursor: default;
	background-color: red;
}
.select__values li:first-child {
	/* display: inline-block;
	margin: 0.1em 0.2em;
	margin-inline-start: 0;
	cursor: default; */
    margin-left: 20%;
	background-color: blue;
}
.select__value {
	padding: 0 0.2em;
	background: rgba(128,128,128,.2);
	color: inherit;
	border: 1px solid ThreeDShadow;
	border-radius: 0.3em;
}

/* Self */
.label_heading{
    font-size: medium;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 20%;
    margin-top: 2%;
}
input{
    height: 30%;
    width: 50%;
    padding: 0.5%;
    margin-left: 20%;
}
/* adding more style */
table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }
      .pipeline-table {
        margin-top: 20px;
      }
</style>	

{% endblock %}

{% block content %}
<div>

    <h2>Random Forest regression</h2>
</div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for=""  class="label_heading">Input Prediction column</label>
        <input type="text" placeholder="Enter the prediction column" name="predcol" class="inp_col">
    </div>
    
    <div>
        <label for="" class="label_heading">Input Number of columns</label>
        <input type="number" placeholder="Enter the prediction column" name="size1" class="inp_col">
    </div>
<div>

<label class="label_heading">Choose criteion</label>
<select  name="criteion" class="inp_col">
    <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
        <option value="absolute_error" class="inp_col">absolute_error</option>
        <option value="squared_error" class="inp_col">squared_error</option>
        <!-- <option value="log_loss">log loss</option> -->
        
        <!-- </optgroup> -->
        
    </select>
</div>
<div>

<label class="label_heading">Choose max feature</label>


    <select name="maxfeature">
        <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="sqrt">sqrt</option>
            <option value="log2">log2</option>
            <option value="None">None</option>
  
        
        <!-- </optgroup> -->
        
    </select>
</div>
<div>
    <label class="label_heading"> Max DepthSlider Value: <span id="ranged">50</span></label>
<input type="number" min="2" max="100" value="50" onchange="showValuedepth(this.value)" name="slidervalue">
</div>
<div>
    <label class="label_heading"> Sample Split :Slider Value: <span id="rangesp">4</span></label>
<input type="number" min="3" max="50" value="4" onchange="showValuesplit(this.value)" name="sample_split">
</div>
<div>
    <label class="label_heading"> N Estimator  :Slider Value: <span id="rangen">100</span></label>
<input type="number" min="0" max="1000" value="50" onchange="showValuen(this.value)" name="n_estimator">
</div>
<input type="text" name="pipelineval" value="{{ model |safe }}">
<input type="text" name="pipeline" value="{{ model |safe }}">
<div>
    <label for="" class="label_heading">Upload file</label>
    <input type="file" name="datafile">
    <input type="submit" value="Upload">
</div>
        <!-- <input type="submit" value="submit"> -->
    </form>
        <div style="overflow: scroll; max-height: 500px;">
            <div class="pipeline-table">
               
                <h2>Pipeline Summary</h2>
                <table>
                  <thead>
                    <tr>
                      <th>Step Name</th>
                      <th>Step Type</th>
                      <th>Step Parameters</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for step_name, step_obj in model.steps %}
                    <tr>
                      <td>{{  step_name }}</td>
                      <td>{{  step_obj }}</td>
                    
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            <table>
                <!-- {{ data|safe }} -->
                
                <!-- <p>Listing the value</p> -->
                <!-- <p> Doing By Loop</p> -->
                {% for item in listing %}
                
                <!-- <p>Iternation Number</p>
                {{ item.i|safe }}<br>
                <p>R2 Score Without Best Parameter</p>
                {{ item.result|safe }}<br>
                <p>R2 Score With Best Parameter</p>
                {{ item.result_parameter|safe }}<br>
        
        
                <p>R2  Mean Absoulte Error Without Best Parameter</p>
                {{ item.mae|safe }}<br>
                <p>R2 Mean Absoulte Error  With Best Parameter</p>
                {{ item.mae_parameter|safe }}<br>
        
        
                <p>Column To be Used</p>
                {{ item.columns|safe }}<br>
                <p>Parameter to be used</p>
                {{ item.parameter|safe }}<br>
                {% endfor %}
         -->
              </table>
            </div>
            {% if download == 1 %}
            <p>Downloading model is </p>
         
      <a href="{% url 'download_model' %}">

          <button type="button">Download</button>
      </a>
  {% endif %}


    <!-- Conttent -->
    {% endblock %}

    {% block js %}
<script>
    
    <!-- Jss -->
function showValuedepth(newValue) {
    document.getElementById("ranged").innerHTML = newValue;
  }
function showValuesplit(newValue) {
    document.getElementById("rangesp").innerHTML = newValue;
  }
function showValuen(newValue) {
    document.getElementById("rangen").innerHTML = newValue;
  }
  </script>
{% endblock %}