{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'Css/download_option.css' %}">	

{% endblock %}

{% block content %}
<div>
    <marquee behavior="alternate"  class="marque">
      Logistic Classfier 
        </marquee>

    <h2> Logistic Classfier</h2>
</div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for=""  class="label_heading">Input Prediction column</label>
        <input type="text" placeholder="Enter the prediction column" name="predcol" class="inp_col">
    </div>
    
    <div>
        <label for="" class="label_heading">Input Number of columns</label>
        <input type="number" placeholder="Enter the prediction column" name="size1" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Test Size</label>
        <input type="number" placeholder="Enter the Test Size" value="0.4" name="ptestsize" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Random State</label>
        <input type="number" placeholder="Enter the Ramdom state" value="32" name="randomstate" class="inp_col">
    </div>
<div>

<label class="label_heading">Penalty</label>
<select  name="penalty" class="inp_col">
    <option value="l1" class="inp_col">l1</option>
        <option value="l2" class="inp_col">l2</option>
        <option value="elasticnet" class="inp_col">elasticnet</option>
        <option value=None class="inp_col">None</option>
        
    </select>
</div>
<div>

<label class="label_heading">multi_class</label>

    <select name="multi_class">
        <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
        <option value="auto" class="inp_col">auto</option>
        <option value="multinomial" class="inp_col">multinomial</option>
        <option value="ovr" class="inp_col">ovr</option>
  
        
        <!-- </optgroup> -->
        
    </select>
</div>
<label class="label_heading">Solver</label>

    <select name="solver">
        <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="lbfgs">lbfgs</option>
            <option value="liblinear">liblinear</option>
            <option value="newton-cg">newton-cg</option>
            <option value="newton-cholesky">newton-cholesky</option>
            <option value="sag">sag</option>    
            <option value="saga">saga</option>      
        
        <!-- </optgroup> -->
        
    </select>
</div>
<div>
    <label class="label_heading">Sampling</label>
    <select  name="sampling">
        <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
        <option value="SMOTE">Smote</option>
        <option value="NearMiss">NearMiss</option>
        <option value="RandomOverSampler">RandomOverSampler</option>
        <option value="RandomUnderSampler">RandomUnderSampler</option>

    </select>
</div>
<div>
    <label class="label_heading"> C:C Value: <span id="ranged">1</span></label>
<input type="number" min="0" max="20" value="1" onchange="showValuedepth(this.value)" name="cvalue">
</div>
<div>
  
<div>
    <label for="formFileLg" class="form-label label_heading">Large file input example</label>
    <input class="form-control form-control inputfile" id="formFileLg" type="file" name="datafile"/>
    <input type="submit" value="Submit" id="upload"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="submit-btn">
</div>
        <!-- <input type="submit" value="submit"> -->
    </form>
{% include "includes/download_classifier.html"%}
<script>
    
    <!-- Jss -->
function showValuedepth(newValue) {
    document.getElementById("ranged").innerHTML = newValue;
  }
function showValuesplit(newValue) {
    document.getElementById("rangesp").innerHTML = newValue;
  }
function showValuen(newValue) {
    document.getElementById("rangen").innerHTML = newValue;
  }
  $(document).ready(function() {
    $('upload').click(function() {
        $('#staticBackdrop').modal('show');
        // submit the form
        $(this).closest('form').submit();
    });
});
    
  </script>
{% endblock %}