{% extends 'layout/base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'Css/download_option.css' %}">
<!-- CSS -->
{% endblock %}

{% block content %}
<h2>  Support Vector  MAchine Regression </h2>
</div>



<form method="post" enctype="multipart/form-data">
 


    

    <div>
        <label for="" class="label_heading">Input Prediction column</label>
        <input type="text" placeholder="Enter the prediction column" name="predcol" class="inp_col">
    </div>

    <div>
        <label for="" class="label_heading">Input Number of columns</label>
        <input type="number" placeholder="Enter the prediction column" name="size1" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Test Size</label>
        <input type="number" placeholder="Enter the Test Size" value="0.4" name="ptestsize" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Random State</label>
        <input type="number" placeholder="Enter the Ramdom state" value="32" name="randomstate" class="inp_col">
    </div>
    <div>
    <div>

        <label class="label_heading">Kernal</label>
        <select  name="kernal" class="inp_col">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="linear" class="inp_col">linear</option>
            <option value="poly" class="inp_col">poly</option>
            <option value="rbf" class="inp_col">rbf</option>
            <option value="sigmoid" class="inp_col">sigmoid</option>
            <option value="precomputed" class="inp_col">precomputed</option>
            <!-- <option value="log_loss">log loss</option> -->

            <!-- </optgroup> -->

        </select>
    </div>
    <div>

        <label class="label_heading">gamma</label>


        <select  name="gamma">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="scale">scale</option>
            <option value="auto">auto</option>
            


            <!-- </optgroup> -->

        </select>
    </div>
    <div>
        <label class="label_heading">degree: <span id="ranged">3</span></label>
        <input type="number" min="1" max="100" value="3" onchange="showValuedepth(this.value)" name="degreevalue">
    </div>
    <!-- <div>
        <label class="label_heading"> Sample Split :Slider Value: <span id="rangesp">4</span></label>
        <input type="range" min="3" max="50" value="4" onchange="showValuesplit(this.value)" name="sample_split">
    </div>
    <div>
        <label class="label_heading"> N Estimator :Slider Value: <span id="rangen">100</span></label>
        <input type="range" min="100" max="1000" value="50" onchange="showValuen(this.value)" name="n_estimator">
    </div> -->
    <div>
        <label for="formFileLg" class="form-label label_heading">Large file input example</label>
        <input class="form-control form-control inputfile" id="formFileLg" type="file" name="datafile"/>
        <input type="submit" value="Submit" id="upload"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    </div>
    <!-- <input type="submit" value="submit"> -->
</form>
{% include "includes/download_regression.html" %}
</body>
<!-- Conttent -->
{% endblock %}

{% block js %}
<script src="{% static 'js/random_forest_classification.js' %}" type="module"></script>
<script>
    function showValuedepth(newValue) {
        document.getElementById("ranged").innerHTML = newValue;
    }
    function showValuesplit(newValue) {
        document.getElementById("rangesp").innerHTML = newValue;
    }
    function showValuen(newValue) {
        document.getElementById("rangen").innerHTML = newValue;
    }
    $(document).ready(function() {
    $('upload').click(function() {
        $('#staticBackdrop').modal('show');
        // submit the form
        $(this).closest('form').submit();
    });
});
</script>
<!-- java -->
{% endblock %}