{% extends 'layout/base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'Css/download_option.css' %}">
<!-- CSS -->
{% endblock %}

{% block content %}
<h2>K-Nearest Neighbors</h2>
</div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <label for=""  class="label_heading">Input Prediction column</label>
        <input type="text" placeholder="Enter the prediction column" name="predcol" class="inp_col">
    </div>
    
    <div>
        <label for="" class="label_heading">Input Number of columns</label>
        <input type="number" placeholder="Enter the prediction column" name="size1" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Test Size</label>
        <input type="number" placeholder="Enter the Test Size" value="0.4" name="ptestsize" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Random State</label>
        <input type="number" placeholder="Enter the Ramdom state" value="32" name="randomstate" class="inp_col">
    </div>
<div>

<label class="label_heading">weights</label>
<select  name="weights" class="inp_col">
        <option value="uniform" class="inp_col">uniform</option>
        <option value="distance" class="inp_col">Distance</option>
   
        
    </select>
</div>  
<div>


<div>
    
    <label class="label_heading">Algorithm</label>    
    <select  name="algorithm">
        <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="auto">Auto</option>
            <option value="ball_tree">Ball Tree</option>
            <option value="kd_tree">kd Tree</option>
            <option value="brute">Brute</option>  
              
    </select>
</div>
<div>
    <label class="label_heading"> N Nighbors:N Neighbors Value: <span id="ranged">5</span></label>
    <input type="number" min="0" max="200" value="5" onchange="showValuedepth(this.value)" name="kvalue">
</div>


<div>
    <label for="formFileLg" class="form-label label_heading">Large file input example</label>
    <input class="form-control form-control inputfile" id="formFileLg" type="file" name="datafile"/>
    <input type="submit" value="Submit" id="upload"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="submit-btn">
</div>
<!-- <input type="submit" value="submit"> -->
</form>
{% include "includes/download_regression.html" %}
    </body>
    <!-- Conttent -->
    {% endblock %}

    {% block js %}
    <script src="{% static 'js/random_forest_classification.js' %}" type="module"></script>
<script>
    function showValuedepth(newValue) {
        document.getElementById("ranged").innerHTML = newValue;
      }
    function showValuesplit(newValue) {
        document.getElementById("rangesp").innerHTML = newValue;
      }
    function showValuen(newValue) {
        document.getElementById("rangen").innerHTML = newValue;
      }
      
</script>
    <!-- java -->
    {% endblock %}