{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'Css/download_option.css' %}">
{% endblock %}

{% block content %}
<marquee behavior="alternate"  class="marque">
    Random Forest Regression
    </marquee>
<div>

    <h2>Random Forest Regression</h2>
</div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="" class="label_heading">Input Prediction column</label>
        <input type="text" placeholder="Enter the prediction column" name="predcol" class="inp_col">
    </div>

    <div>
        <label for="" class="label_heading">Input Number of columns</label>
        <input type="number" placeholder="Enter the prediction column" name="size1" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Test Size</label>
        <input type="number" placeholder="Enter the Test Size" value="0.4" name="ptestsize" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Random State</label>
        <input type="number" placeholder="Enter the Ramdom state" value="32" name="randomstate" class="inp_col">
    </div>
    <div>

        <label class="label_heading">Choose criteion</label>
        <select name="criteion" class="inp_col">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="absolute_error" class="inp_col">absolute_error</option>
            <option value="squared_error" class="inp_col">squared_error</option>
            <!-- <option value="log_loss">log loss</option> -->

            <!-- </optgroup> -->

        </select>
    </div>
    <div>

        <label class="label_heading">Choose max feature</label>


        <select name="maxfeature">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="sqrt">sqrt</option>
            <option value="log2">log2</option>
            <option value="None">None</option>


            <!-- </optgroup> -->

        </select>
    </div>
    <div>
        <label class="label_heading"> Max DepthSlider Value: <span id="ranged">50</span></label>
        <input type="number" min="2" max="100" value="50" onchange="showValuedepth(this.value)" name="slidervalue">
    </div>
    <div>
        <label class="label_heading"> Sample Split :Slider Value: <span id="rangesp">4</span></label>
        <input type="number" min="3" max="50" value="4" onchange="showValuesplit(this.value)" name="sample_split">
    </div>
    <div>
        <label class="label_heading"> N Estimator :Slider Value: <span id="rangen">100</span></label>
        <input type="number" min="0" max="1000" value="50" onchange="showValuen(this.value)" name="n_estimator">
    </div>

    <div>
        <label for="formFileLg" class="form-label label_heading">Large file input example</label>
        <input class="form-control form-control inputfile" id="formFileLg" type="file" name="datafile" />
        <input type="submit" value="Submit" id="upload" data-bs-toggle="modal"  class="submit-btn"data-bs-target="#staticBackdrop">
    </div>
    <!-- <input type="submit" value="submit"> -->
</form>
{% include "includes/download_regression.html" %}

<!-- Conttent -->
{% endblock %}

{% block js %}
<script>

    <!-- Jss -->
    function showValuedepth(newValue) {
        document.getElementById("ranged").innerHTML = newValue;
    }
    function showValuesplit(newValue) {
        document.getElementById("rangesp").innerHTML = newValue;
    }
    function showValuen(newValue) {
        document.getElementById("rangen").innerHTML = newValue;
    }
    $(document).ready(function () {
        $('upload').click(function () {
            $('#staticBackdrop').modal('show');
            // submit the form
            $(this).closest('form').submit();
        });
    });

</script>
{% endblock %}