{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<style>
    /* Creating Loader */
    [hidden] {
        display: none !important;
    }


    select,
    .select,
    input {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .select {
        position: relative;
    }

    .select>input {
        width: 100%;
        box-sizing: border-box;
    }

    .select__dropdown {
        position: absolute;
        z-index: 1;
        list-style: none;
        margin: 0;
        padding: 1px;
        background: Field;
        color: FieldText;
        font-family: sans-serif;
        font-size: small;
        font: -moz-field;
        border: 1px solid ThreeDShadow;
        border-top: 0;
        left: 0;
        right: 0;
        max-height: 10em;
        overflow-y: auto;
    }

    .select__dropdown:empty {
        display: none;
    }

    .select__dropdown [role="option"],
    .select__dropdown strong {
        padding: 0.2em 0.4em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: default;
    }

    .select__dropdown [role="option"].select--selected,
    .select__dropdown [role="option"]:hover {
        background: rgba(128, 128, 128, .2);
        color: inherit;
    }

    .select__dropdown [role="option"].select--has-focus {
        background: Highlight;
        color: HighlightText;
    }

    .select__dropdown [role="option"][aria-disabled="true"] {
        background: transparent;
        color: GrayText;
    }

    .select__dropdown ul {
        margin: 0;
        padding: 0;
    }

    .select__dropdown ul [role="option"] {
        padding-left: 2em;
    }

    .select__values {
        display: inline;
        padding: 0;
        margin: 0;
    }

    .select__values li {
        display: inline-block;
        margin: 0.1em 0.2em;
        margin-inline-start: 0;
        cursor: default;
        background-color: red;
    }

    .select__values li:first-child {
        /* display: inline-block;
	margin: 0.1em 0.2em;
	margin-inline-start: 0;
	cursor: default; */
        margin-left: 20%;
        background-color: blue;
    }

    .select__value {
        padding: 0 0.2em;
        background: rgba(128, 128, 128, .2);
        color: inherit;
        border: 1px solid ThreeDShadow;
        border-radius: 0.3em;
    }

    /* Self */
    .label_heading {
        font-size: medium;
        font-weight: bold;
        text-transform: capitalize;
        margin-left: 20%;
        margin-top: 2%;
    }

    input {
        height: 30%;
        width: 50%;
        padding: 0.5%;
        margin-left: 20%;
    }

    .big_container {
        display: inline;
    }
</style>
<!-- CSS -->
{% endblock %}

{% block content %}
<h2>Gradient Regression  regression</h2>
</div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
      <center>

          <div class="row-3">
              <div class="col-sm-6" style="background-color:yellow;">
                <label for="" style="display:inline"class="label_heading" >Test</label>
                <input type="number" placeholder="Enter the prediction column" name="predcol"  style="height:100%;display:inline"class="inp_col">
            </div>
            <div class="col-sm-6" style="background-color:pink;">
                <label for="" style="display:inline" >Random</label>
                <input type="number" placeholder="Enter the prediction column" name="predcol" style="height:100%;display:inline" class="inp_col">
                
            </div>
        </div>
    </div>
</center>


    

    <div>
        <label for="" class="label_heading">Input Prediction column</label>
        <input type="text" placeholder="Enter the prediction column" name="predcol" class="inp_col">
    </div>

    <div>
        <label for="" class="label_heading">Input Number of columns</label>
        <input type="number" placeholder="Enter the prediction column" name="size1" class="inp_col">
    </div>
    <div>

        <label class="label_heading">Loss</label>
        <select multiple data-select name="loss" class="inp_col">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="squared_error" class="inp_col">squared_error</option>
            <option value="absolute_error" class="inp_col">absolute_error</option>
            <option value="huber" class="inp_col">huber</option>
            <option value="quantile" class="inp_col">quantile</option>
            <!-- <option value="precomputed" class="inp_col">precomputed</option> -->
            <!-- <option value="log_loss">log loss</option> -->

            <!-- </optgroup> -->

        </select>
    </div>
    <div>

        <label class="label_heading">criterion</label>


        <select multiple data-select name="criterion">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="friedman_mse">friedman_mse</option>
            <option value="squared_error">squared_error</option>

        </select>
    </div>
    <div>

        <label class="label_heading">max_features</label>


        <select multiple data-select name="max_features">
            <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="auto">auto</option>
            <option value="sqrt">sqrt</option>
            <option value="log2">log2</option>

        </select>
    </div>
    <div>
        <label class="label_heading">learning_rate: <span id="ranged">1</span></label>
        <input type="range" min="0" max="100" value="1" step="0.1" onchange="showValuedepth(this.value)" name="learingvalue">
    </div>
    <!-- <div>
        <label class="label_heading">n_estimators: <span id="nranged">3</span></label>
        <input type="range" min="1" max="100" value="3" onchange="showValuedepth(this.value)" name="nestimatorsvalue">
    </div> -->
    <div>
        <label class="label_heading"> nestimators : <span id="rangesp">100</span></label>
        <input type="range" min="90" max="500" value="4" step="50" onchange="showValuesplit(this.value)" name="nestimatorsvalue">
    </div>
    
    <div>
        <label class="label_heading">Min Max Split: <span id="rangen">3</span></label>
        <input type="range" min="2" max="100" value="3" onchange="showValuen(this.value)" name="minsamplevalue">
    </div>
    <div>
        <label class="label_heading">Min Depth: <span id="rangedepth">15</span></label>
        <input type="range" min="0" max="100" value="15" onchange="showValuedepth(this.value)" name="maxdepthvalue">
    </div>
    <div>
        <label for="" class="label_heading">Upload file</label>
        <input type="file" name="datafile">
        <input type="submit" value="Upload">
    </div>
    <!-- <input type="submit" value="submit"> -->
</form>

 {% include 'includes/regression_result.html' %}

</body>
<!-- Conttent -->
{% endblock %}

{% block js %}
<script src="{% static 'js/random_forest_classification.js' %}" type="module"></script>
<script>
    function showValuedepth(newValue) {
        document.getElementById("ranged").innerHTML = newValue;
    }
    function showValuesplit(newValue) {
        document.getElementById("rangesp").innerHTML = newValue;
    }
    function showValuen(newValue) {
        document.getElementById("rangen").innerHTML = newValue;
    }
    function showValuedepth(newValue) {
        document.getElementById("rangedepth").innerHTML = newValue;
    }
</script>
<!-- java -->
{% endblock %}