{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
    
<style>
    .col{
        /* border: 2px solid blue; */
        margin:2%

    }
    h1{
    font-size: 64px;
    color: #1A73E8;
    line-height: 1em;
}
.small{
    max-width: 500px;
    margin: 0.8em 0;
    font-size: 28px;
    text-align: left;
}
video{
    width: 31rem;
    height: 25rem;
}
a.button
{background: #4285F4;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    padding: 18px 50px 16px;
    display: inline-block;
    font-family: 'BoingSemiBold', Helvetica, Arial, sans-serif;
    transition: background-color 0.25s ease-out;
}

/* Adiing css */
.block-holder {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}
p {
    margin: 0 0 1em 0;
    line-height: 1.6em;
    font-size: 18px;
    font-family: 'Google Sans', Helvetica, Arial, sans-serif;
}
.block{
    width: calc(100% / 14 * 4);
}
h2 {
    font-family: 'BoingSemiBold', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 48px;
    margin: 70px 0;
    text-align: center;
}

</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
   
                <h1>Train Your Model</h1>
                <h2 class="small">Train a computer to recognize your own images, sounds, & poses.</h2>
                    <p>A fast, easy way to create machine learning models for your sites, apps, and more – no expertise or coding required.</p>
                    <div>
                        <a class="button" href="{% url 'login' %}" style="margin-top: 30px;"><!---->Get Started<!----></a>
                    </div>
            

        
        
        </div>
        <div class="col">
            <!-- <h1>EMBEDDING A VIDEO</h1> -->
            <video src="{% static 'images/prediction.mp4' %}" class="vdeo"ntitle="machine Leanring" frameborder="0" autoplay="" loop="" muted="" allowfullscreen></video>
        </div>
        
    </div>
</div>
<div>
    <h2>How I Use It</h2>
</div>
<div class="block-holder">
    <div class="block">
        <div class="block-img illustration">
            <img height="200px" src="{% static 'images/gather.svg'%}" alt="Illustration of example cats">
        </div>
        <div class="block-copy">
            <h3 class="numeral"><!----><span class="numeral-no">1</span> Gather<!----></h3>
            <p><!---->Gather and group your examples into classes, or categories, that you want the computer to learn.<!----></p>
`               
        </div>
    </div>

    <div class="block">
        <div class="block-img illustration">
            <img height="200px" src="{% static 'images/train.svg'  %}" alt="Illustration of button being clicked that reads Train Model">
        </div>
        <div class="block-copy">
            <h3 class="numeral"><!----><span class="numeral-no">2</span> Train<!----></h3>
            <p><!---->Train your model, then instantly test it out to see whether it can correctly classify new examples.<!----></p>
           
        </div>
    </div>

    <div class="block">
        <div class="block-img illustration">
            <img height="200px" class="fullwidth" src="{% static 'images/project.svg' %}" alt="Illustration of a desktop and mobile web browser containing a sample teachable machine project">
        </div>
        <div class="block-copy">
        <h3 class="numeral"><!----><span class="numeral-no">3</span> Export<!----></h3>
            <p><!---->Export your model for your projects: sites, apps, and more. You can download your model or host it online.<!----></p>

        </div>
    </div>
</div>
    {{user.is_authenticated}}
    {{user.username}}

{% endblock %}
{% block js %}
    
{% endblock %}
    