{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Css/basicstyle.css' %}">
<!-- CSS -->
{% endblock %}

{% block content %}
<h2>K-Nearest Neighbor</h2>
</div>



<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
        <label for=""  class="label_heading">Input Prediction column</label>
        <input type="text" placeholder="Enter the prediction column" name="predcol" class="inp_col">
    </div>
    
    <div>
        <label for="" class="label_heading">Input Number of columns</label>
        <input type="number" placeholder="Enter the prediction column" name="size1" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Test Size</label>
        <input type="number" placeholder="Enter the Test Size" value="0.4" name="ptestsize" class="inp_col">
    </div>
    <div>
        <label for="" class="label_heading">Random State</label>
        <input type="number" placeholder="Enter the Ramdom state" value="32" name="randomstate" class="inp_col">
    </div>
<div>

<label class="label_heading">weights</label>
<select multiple data-select name="weights" class="inp_col">
        <option value="uniform" class="inp_col">uniform</option>
        <option value="distance" class="inp_col">Distance</option>
   
        
    </select>
</div>  
<div>

<!-- <label class="label_heading">Multi Class</label>
<select multiple data-select name="multi_class" class="inp_col">
     <optgroup label="Alaskan/Hawaiian Time Zone"> 
        <option value="auto" class="inp_col">auto</option>
        <option value="multinomial" class="inp_col">multinomial</option>
        <option value="ovr" class="inp_col">ovr</option>
        
        
    </select>
</div> -->
<div>
    
    <label class="label_heading">Algorithm</label>    
    <select multiple data-select name="algorithm">
        <!-- <optgroup label="Alaskan/Hawaiian Time Zone"> -->
            <option value="auto">Auto</option>
            <option value="ball_tree">Ball Tree</option>
            <option value="kd_tree">kd Tree</option>
            <option value="brute">Brute</option>  
              
    </select>
</div>
<div>
    <label class="label_heading"> N Nighbors:N Neighbors Value: <span id="ranged">5</span></label>
    <input type="range" min="0" max="200" value="5" onchange="showValuedepth(this.value)" name="kvalue">
</div>

<!-- <div>
    <label class="label_heading"> Max Iter :Max Iter Value: <span id="rangesp">100</span></label>
<input type="range" min="50" max="500" value="5" onchange="showValuesplit(this.value)" name="sample_split">
</div> -->
<!-- <div>
    <label class="label_heading"> N Estimator  :Slider Value: <span id="rangen">100</span></label>
    <input type="range" min="100" max="1000" value="50" onchange="showValuen(this.value)" name="n_estimator">
</div> -->
<div>
    <label for="formFileLg" class="form-label label_heading">Large file input example</label>
    <input class="form-control form-control inputfile " id="formFileLg" type="file" name="datafile" />
    <input type="submit" value="Submit" id="upload"  data-bs-toggle="modal" class="submit-btn" data-bs-target="#staticBackdrop">

</div>
<!-- <input type="submit" value="submit"> -->
</form>
{% include 'includes/classification_result.html' %}
    </body>
    <!-- Conttent -->
    {% endblock %}

    {% block js %}
    <script src="{% static 'js/random_forest_classification.js' %}" type="module"></script>
<script>
    function showValuedepth(newValue) {
        document.getElementById("ranged").innerHTML = newValue;
      }
    function showValuesplit(newValue) {
        document.getElementById("rangesp").innerHTML = newValue;
      }
    function showValuen(newValue) {
        document.getElementById("rangen").innerHTML = newValue;
      }
      $(document).ready(function() {
                    $('upload').click(function() {
                        $('#staticBackdrop').modal('show');
                        // submit the form
                        $(this).closest('form').submit();
                    });
                });
</script>
    <!-- java -->
    {% endblock %}