{% extends 'layout/base.html' %}
{% load static %}

{% block css %}
<style>

    .rows{
        margin-top: 10rem;
        margin:10rem;
        /* border:2px solid red; */
        font-family: cursive;
    }
    th{
        font-family: revert;
    font-size: 1rem;
    text-transform: uppercase;
    }
    .content{
        font-family: revert;
    }
    h1{
    font-family: unset;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
}
    </style>
<!-- CSS -->
{% endblock %}

{% block content %}
<div class="table-responsive">
    <center>

        <h1>Download Previously Trained Model</h1>
    </center>
    <table class="table table-striped table-hover	table-borderless table-primaryalign-middle">
        <thead class="table-dark">
            <caption>Table Name</caption>
            <tr>
             

                <th>S.no</th>
                <th>Id</th>
                <!-- <th>Location</th> -->
                <th>Model Name</th>
                <th>Date</th>
                <th>TIme</th>
                <th>Downloaad</th>
                <th>Delete</th>
           
               

            </tr>
        </thead>
        <tbody class=>
            {% for i in data %} 
            <tr class="rows">
                <td>{{forloop.counter}}</td>
                <td scope="row ml - 5">{{i.uniqueid}}</td>
                <!-- <td scope="row">{{i.location}}</td> -->
                <td scope="row" class="content">{{i.modelname}}</td>
                <td scope="row" class="content">{{i.date}}</td>
                <td scope="row" class="content">{{i.time}}</td>
                <td><a href="{% url 'download_model' i.uniqueid %}" class="btn btn-success btn-sm">Download</a></td>
                <td><a href="{% url 'delete_model' i.uniqueid %}" onclick="return confirm('Are you sure? You Want To Delete')" class="btn btn-danger btn-sm">Delete</a></td>
                <!-- <td scope="row"><input type="number" name="pagenumber" id="fmobile" step="10"></td>     -->
                {% endfor %}
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>
</div>
    <!-- Conttent -->
    {% endblock %}

    {% block js %}
    
        {% endblock %}