{% extends 'layout/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  img{
    width: 24%;
  }
  .image-icon{
    width: 25%;
    aspect-ratio: 4/1;
  }
  p{
    font-family: sans-serif;
    line-height: 1.5rem;
    text-transform: capitalize;
  }
</style>
<!-- CSS -->
{% endblock %}
{% block content %} 
<marquee behavior="alternate" style="font-family: 'Monotype Corsiva'; font-size:35px; color:darkcyan; background-color:bisque; font-weight:bold;">
 User Home
  </marquee>
<div class="container">
  <div class="row">
    <div class="col p-2 mb-3">
      <label class="lab2">Welcome<a href=""><i class="fa-solid fa-user-pen"></i></a></label>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 text-primary">Regression</strong> -->
          <h3 class="mb-0">Regression Modeule</h3>
          <!-- <div class="mb-1 text-body-secondary">Nov 12</div> -->
          <ul>
            <li><h6>This Model can assist you in developing a machine learning model that predicts a numerical column. Just provide me with the necessary data and requirements.</h6></li>
            <li><p>It can assist in hyperparameter tuning to optimize your model's performance by trying various hyperparameters. Just provide me with the necessary information.</p></li>
            <li><p>It can provide you with the R2 score and mean absolute error in percentage, along with the column used to build the model and the optimized hyperparameters used for training.</p></li>
          </ol>
          <!-- <p class="card-text mb-auto">This Model would help you to bulid a Machine Learning Model Which has an numerical olumn as prediction COlumn.
          </p>
          <p>This Module would help you to Choose Various Hyperparemtnmter which triang your model</p>
          <p>This Modlue would Return Your The r2Score(i  percentage) And Mean ABourselter Error alsomg with COlumn which has been used to bulid up the model and hyperparameter</p> -->
          
        </div>
        <img src="{% static 'images/userregression.png' %}" class="image-icon" alt="">
      </div>
    </div>
    
    <!-- Download Dataset  AND Traing -->
    <div class="col-md-6">
      <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 text-success">Design</strong> -->
          <h3 class="mb-0">Classfication Modelu</h3>
          <!-- <div class="mb-1 text-body-secondary">Nov 11</div> -->
          <ul>
            <li>
              <p>I can assist you in developing a machine learning model that predicts a categorical column using appropriate algorithms and data preprocessing techniques. Just provide me with the necessary data and requirements.</p>
            </li>
            <li><p>It can assist in hyperparameter tuning to optimize your model's performance by trying various hyperparameters. Just provide me with the necessary information.</p></li>
            <li><p>It can provide you with the average score, columns used, optimized hyperparameters, and a heat map graph made up of a confusion matrix for evaluating the model's performance on the categorical prediction column.</p></li>
          </ul>
          <!-- <p class="mb-auto">This Modelue Which Help You to build Machine Learnig Model Whch COntain an Caterorical data as Prediction COlumn</p>
            <p>THis Modelue Also Allows the User to choose The Hypermetre on There Own While Trtianing there model</p>
            <p>This Modlue would Return Your The r2Score(i  percentage) And Mean ABourselter Error alsomg with COlumn which has been used to bulid up the model and hyperparameter</p> -->
            <!-- <a href="#" class="stretched-link">Continue reading</a> -->
          </div>
          <img src="{% static 'images/user_classifcation.png' %}" class="image-icon" alt="">
        </div>
      </div>
    </div>  
    
    
    <!-- COntent -->
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <!-- <strong class="d-inline-block mb-2 text-primary">Regression</strong> -->
            <h3 class="mb-0">Download Dataset</h3>
            <!-- <div class="mb-1 text-body-secondary">Nov 11</div> -->
            <ul>
              <li><p>I can provide a module that allows users to download pre-defined datasets by specifying the required number of records. It contains 10-15 pre-loaded datasets that can be used for building machine learning models.</p></li>
              <li><p>You can use this module to download a specific number of records in a CSV file format. Simply provide the required number of records as input, and the module will return the data in a CSV(Comma Sepratred Value ) file.</p></li>
            </ul>
            <!-- <p>This Module Allows the user to download Some Predefine Dataset </p>
              <p>It contain 10-15 Pre Loaded Dtaset On which you can bulid Your moel</p> -->
              <!-- <a href="#" class="stretched-link">Continue reading</a> -->
              
            </div>
            
            <img src="{% static 'images/dataset.png' %}" class="image-icon" alt="">
            
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0  rounded overflow-hidden flex-md-row mb-4  h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <!-- <strong class="d-inline-block mb-2 text-success">Design</strong> -->
              <h3 class="mb-0">Trained  Modelu</h3>
              <!-- <div class="mb-1 text-body-secondary">Nov 11</div> -->
              <ul>
                <li>
                  <p>The module keeps track of all the models trained by the user and allows them to be re-downloaded at a later time.</p>
                </li>
              </ul>
              <!-- <p class="mb-auto">This Modlue Allow You To download Already Trianed Module </p>
                <p></p> -->
                
              </div>
              <img src="{% static 'images/download.png' %}" class="image-icon" alt="">
              
            </div>
          </div>
        </div> 
      </div>
     
      
      {% endblock %}
      {% block js %}
      <!-- Js -->
      {% endblock %}