@import url(//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
 /* Creating Loader */
 [hidden] {
    display: none !important;
}
select,
.select,
input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.select {
    position: relative;
}

.select > input {
    width: 100%;
    box-sizing: border-box;
}

.select__dropdown {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 1px;
    background: Field;
    color: FieldText;
    font-family: sans-serif;
    font-size: small;
    font: -moz-field;
    border: 1px solid ThreeDShadow;
    border-top: 0;
    left: 0;
    right: 0;
    max-height: 10em;
    overflow-y: auto;
}
.select__dropdown:empty {
    display: none;
}

.select__dropdown [role="option"],
.select__dropdown strong {
    padding: 0.2em 0.4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}
.select__dropdown [role="option"].select--selected,
.select__dropdown [role="option"]:hover {
    background: rgba(128,128,128,.2);
    color: inherit;
}
.select__dropdown [role="option"].select--has-focus {
    background: Highlight;
    color: HighlightText;
}
.select__dropdown [role="option"][aria-disabled="true"] {
    background: transparent;
    color: GrayText;
}
.select__dropdown ul {
    margin: 0;
    padding: 0;
}
.select__dropdown ul [role="option"] {
    padding-left: 2em;
}

.select__values {
    display: inline;
    padding: 0;
    margin: 0;
}
.select__values li  {
    display: inline-block;
    margin: 0.1em 0.2em;
    margin-inline-start: 0;
    cursor: default;
    background-color: #dc3545;
    font-size: 1.2rem;
    text-transform: uppercase;

}
.select__values li:first-child {
    /* display: inline-block;
    margin: 0.1em 0.2em;
    margin-inline-start: 0;
    cursor: default; */
    margin-left: 20%;
    background-color: #dc3545;
    text-transform: uppercase;
}
.select__value {
    padding: 0 0.2em;
    background: rgba(128,128,128,.2);
    color: inherit;
    border: 1px solid ThreeDShadow;
    border-radius: 0.3em;
}

/* Self */

h2{
    font-family: unset;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
}
.label_heading{
    font-size: medium;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 20%;
    margin-top: 2%;
    font-family: serif;
}
input{
    height: 30%;
    width: 50%;
    padding: 0.5%;
    margin-left: 20%;
    margin-top: 0.5rem;
}
.big_container{
    display: inline;
}
a.button {
    background: #4285F4;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    padding: 18px 50px 16px;
    display: inline-block;
    font-family: 'BoingSemiBold', Helvetica, Arial, sans-serif;
    transition: background-color 0.25s ease-out;
}
.idgen{
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.inputfile{
    margin-top: 1rem;
width: auto;
margin-bottom: 2rem;
}


body {
    animation: 15s linear 0s 10 normal none running fsqKHW;
    background: linear-gradient(-45deg, rgb(238, 119, 82), rgb(231, 60, 126), rgb(35, 166, 213), rgb(35, 213, 171)) 0% 0% / 300% 300%;
    animation: gradient 10s ease infinite;}

@keyframes gradient {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
}
.submit-btn{
    border-radius: 1rem;
}
.marque{
    font-family: 'Monotype Corsiva'; 
    font-size:35px; 
    color:darkcyan; 
    background-color:bisque; 
    font-weight:bold;
}
a:link{
    text-decoration:none;
    font-size:17px;
}

.vn-wisteria a{
background-color:#8e44ad;
  display:inline-block;
  position:relative;
  margin:30px 5px;
  padding:38px 20px 20px 80px;
  color:#fff;
  transition:all 0.4s ease;
  border-radius:3px
}
.vn-wisteria a:before{
  content:"\f019";
  font-family:fontAwesome;
  position:absolute;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:28px;
  border-radius:0 20px 0 0;
  color:#000;
  background-color:#fff;
  opacity:0.3;
  padding:20px;
  top:0;
  left:0
}
.vn-wisteria a:hover{
  background:#7f8c8d
}